<div class="container"> 
    <form [formGroup]="customerRegistrationControl" class="form-horizontal formStyle">    
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Name</label>                   
            </div>
            <div class="col-sm-3">
                <input #name type="text" id="name" formControlName="nameControl1" class="form-control"/>                
            </div>   
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="nameControl.touched && nameControl.hasError('required')">Please Enter Name Of The Applicant!</span>
                <span class="text-danger" *ngIf="nameControl.touched && nameControl.hasError('pattern')">Name should contain only Alphabets and Spaces</span>
            </div>         
        </div>     
        
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>UserName</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="userName" formControlName="userNmaeControl" class="form-control"/>                
            </div>    
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="userNmaeControl.touched && userNmaeControl.invalid">Please Enter User Name!</span>                
            </div>         
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Password</label>                 
            </div>
            <div class="col-sm-3">
                <input type="password" id="password" formControlName="passwordControl" class="form-control"/>                
            </div>            
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="passwordControl.touched && passwordControl.invalid">Please Enter Password!</span>                
            </div> 
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Guardian Type</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="guardianType" formControlName="guardianTypeControl" class="form-control"/>                 
            </div>        
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="guardianTypeControl.touched && guardianTypeControl.invalid">Please Enter Guardian Type!</span>                
            </div>     
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Guardian Name</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="guardianName" formControlName="guardianNameControl" class="form-control"/>
            </div>     
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="guardianNameControl.touched && guardianNameControl.invalid">Please Enter Guardian Name!</span>                
            </div>       
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Address</label>                 
            </div>
            <div class="col-sm-4">
                <textarea rows="3" cols="30" id="address" formControlName="addressControl" class="form-control">
                    </textarea>
            </div>
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="addressControl.touched && addressControl.invalid">Please Enter Address!</span>                
            </div>    
                      
        </div>
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Citizenship</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="citizenship" formControlName="citizenshipControl" class="form-control"/>
            </div>    
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="citizenshipControl.touched && citizenshipControl.invalid">Please Enter Citizenship!</span>                
            </div>            
        </div>   
        
          <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Country</label>                 
                </div>
                <div class="col-sm-3">
                    <select #selectedCountry id="country" formControlName="countryControl" class="dropdown col-sm-12" (change)="onCountryChange(selectedCountry.value)">                        
                        <Option class="dropdown-item" value="" disabled></Option>
                        <Option class="dropdown-item" *ngFor="let countryModel of countriesModel; let i = index" 
                        [selected]="countryControl.value === countryModel.id"
                        [value]="countryModel.id">{{countryModel.name}}</Option>
                    </select>
                </div>     
            </div>   

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>State</label>                 
                </div>
                <div class="col-sm-3">
                    <select #selectedState id="state" formControlName="stateControl"  class="dropdown col-sm-12">
                        <Option class="dropdown-item" value="" disabled></Option>
                        <Option class="dropdown-item" *ngFor="let stateModel of statesForSelectedCountry; let i = index" 
                        [selected]="stateControl.value === stateModel.id"
                        value="{{stateModel.id}}">{{stateModel.name}}</Option>
                    </select>
                </div>
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="stateControl.touched && stateControl.invalid">Please Enter State!</span>                
                </div>         
            </div> 
            
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Email Address</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="email" id="email" formControlName="EmailAddressControl" class="form-control"/>
                </div> 
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="EmailAddressControl.touched && EmailAddressControl.hasError('required')">Please Enter Email Address!</span>                
                    <span class="text-danger" *ngIf="EmailAddressControl.touched && EmailAddressControl.hasError('email')">Please Enter Valid Email Address!</span>                
                </div>               
            </div>   

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Gender</label>                 
                </div>
                <div class="col-sm-1" *ngFor="let gender of GenderModel; let i = index">
                    <input class="form-check-input" type="radio" id="gender{{i}}" formControlName="genderControl" value="{{gender}}">{{gender}}
                </div>            
            </div>   

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Marital Status</label>                 
                </div>
                <div class="col-sm-1" *ngFor="let maritalStatus of MaritalStatusModel; let i = index">
                    <input  class="form-check-input" type="radio" id="maritalStatus{{i}}" formControlName="maritalStatusControl" value="{{maritalStatus}}">{{maritalStatus}}
                </div>            
            </div>  
            
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Contact Number</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="contactNumber" formControlName="contactNoControl" class="form-control" maxlength="10"/>
                </div>            
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="contactNoControl.touched && contactNoControl.invalid">Please Enter Contact Number (10 digits)!</span>                
                </div>         
            </div>   

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Date Of Birth</label>                 
                </div>
                <div class="col-sm-3">
                    <input #selectedDOB type="date" id="dob" formControlName="dobControl" class="form-control" 
                    (change)="onDOBChanged(selectedDOB.value)" min="maxDate"/>
                </div>     
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="dobControl.touched && dobControl.hasError('required')">Please Enter Date Of Birth!</span>                
                </div>       
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="dobControl.touched && dobControl.hasError('Invalid DOD')">Please Enter DOB (Where age > 18) !</span>                
                </div>                     
            </div>               

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Registration Date</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="regDate" formControlName="registrationDateControl" class="form-control">
                </div>            
            </div>                    
            
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Account Type</label>                 
                </div>
                <div class="col-sm-3">
                    <select #selectedAccount id="accountType" formControlName="accountTypeControl" class="dropdown col-sm-12" 
                        (change)="onAccountTypeChange(selectedAccount.value)">
                        <Option class="dropdown-item" value="" disabled></Option>
                        <Option class="dropdown-item" *ngFor="let accountType of AccountTypeModel; let i = index" [ngValue]="accountType">{{accountType}}</Option>
                    </select>
                </div>       
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="accountTypeControl.touched && accountTypeControl.invalid">Please Select Account Type!</span>                
                </div>            
            </div>  

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Branch Name</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="branchName" formControlName="branchNameControl" class="form-control"/>
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="branchNameControl.touched && branchNameControl.invalid">Please Enter Branch Name!</span>                
                </div>                
            </div>          

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Citizen Status</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="citizenStatus" formControlName="citizenStatusControl" class="form-control"/>
                </div>        
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="citizenStatusControl.touched && citizenStatusControl.invalid">Please Enter Citizen Status!</span>                
                </div>      
            </div>  

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Initial Deposit Amount</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="initialDepositAmount" formControlName="initialDepositAmountControl" class="form-control"/>
                </div>    
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="initialDepositAmountControl.touched && initialDepositAmountControl.invalid">Please Enter Initial Deposit Amount!</span>                
                </div>         
            </div>         

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Identification Proof Type</label>                 
                </div>
                <div class="col-sm-3">
                    <select id="idProofType" formControlName="identificationProofTypeControl" class="dropdown col-sm-12">
                        <Option class="dropdown-item" value="" disabled></Option>
                        <Option class="dropdown-item" *ngFor="let idType of IdentificationProofTypeModel; let i = index" value="{{idType}}">{{idType}}</Option>
                    </select>
                </div>                              
            </div>       

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Identification Document No</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="identificationDocumentNo" formControlName="identificationDocumentNoControl" class="form-control"/>
                </div>            
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="identificationDocumentNoControl.touched && identificationDocumentNoControl.invalid">Please Select Identification Document Number!</span>                
                </div>
            </div>       

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Ref Acc Holder Name</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="refAccName" formControlName="refAccHolderNameControl" class="form-control"/>
                </div>  
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="refAccHolderNameControl.touched && refAccHolderNameControl.invalid">Please Select Reference Account Holder Name!</span>                
                </div>        
            </div>    

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Ref Acc Holder Number</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="number" id="refAccNameNo" formControlName="refAccHolderNumberControl" class="form-control"/>
                </div>       
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="refAccHolderNumberControl.touched && refAccHolderNumberControl.invalid">Please Select Reference Account Holder Number!</span>                
                </div>     
            </div>    

            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Ref Acc Holder Address</label>                 
                </div>
                <div class="col-sm-4">
                    <textarea rows="3" cols="30" id="refaddress" formControlName="refAccHolderAddressControl" class="form-control">
                        </textarea>
                </div>    
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="refAccHolderAddressControl.touched && refAccHolderAddressControl.invalid">Please Select Reference Account Holder Address!</span>                
                </div>          
            </div>

            <div class="row col-sm-1">
                <button type="submit" class="btn btn-primary" (click)="onCustomerRegistrationFormSubmitted" [disabled]="customerRegistrationControl.invalid">Submit</button>
            </div>
    </form>   
    </div>
    

