<div class="container"> 
    <h5 *ngIf="IsLoanRegistration">Apply Loan</h5>
    <h5 *ngIf="!IsLoanRegistration">Loan Details</h5>
    <form [formGroup]="loanFormControl" class="form-horizontal formStyle">    
        <fieldset [disabled] = '!IsFormGroupEditable'>
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Account Holder Name</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="name" formControlName="accHolderNameControl" class="form-control"/>                
            </div>              
        </div>
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Loan Type</label>                 
            </div>
            <div class="col-sm-3">
                <select #selectedLoanType id="loanType" formControlName="loanType" class="dropdown col-sm-12"
                 (change)="onLoanTypeChange(selectedLoanType.value)">
                        <Option class="dropdown-item" value="" disabled></Option>
                        <Option  class="dropdown-item" *ngFor="let loanType of loanTypes; let i = index" [value]="loanType">{{loanType}}</Option>
                    </select>
            </div>    
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="loanType.touched && loanType.invalid">Please select Loan Type!</span>                
            </div>         
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Loan Amount</label>                 
            </div>
            <div class="col-sm-3">
                <input type="number" id="loanAmt" formControlName="loanAmount" class="form-control"/>                
            </div>            
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="loanAmount.touched && loanAmount.hasError('required')">Please Enter LoanAmount!</span>                
            </div>           
        </div>            
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Loan Apply Date</label>                 
            </div>
            <div class="col-sm-3">
                <input #loanApplyDate type="date" id="loanAppdate" formControlName="loanApplyDate" class="form-control" [min]="minDate"
                (change)="onLoanApplyDateChange(loanApplyDate.value)">
            </div>     
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="loanApplyDate.touched && loanApplyDate.hasError('required')">Please Enter Date!</span>                
            </div>       
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="loanApplyDate.touched && loanApplyDate.hasError('Invalid Date')">Please Enter Only Date From Today!</span>                
            </div>     
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Loan Issue Date</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="loanIssDate" formControlName="loanIssueDate" class="form-control"/>
            </div>                      
        </div>     
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>ROI</label>                 
            </div>
            <div class="col-sm-3">
                <input type="text" id="roi" formControlName="rateofInterest" class="form-control"/>
            </div>                      
        </div>     
        
        <div class="row col-xs-12">
            <div class="col-sm-2">
                <label>Duration Of Loan</label>                 
            </div>
            <div class="col-sm-3">
                <select id="loanduration" formControlName="duration" class="dropdown col-sm-12">
                        <Option class="dropdown-item" value="" disabled></Option>
                        <Option class="dropdown-item"  *ngFor="let loanDur of loanDuration; let i = index" [value]="loanDur">{{loanDur}}</Option>
                    </select>
            </div>    
            <div class="row col-xs-12">
                <span class="text-danger" *ngIf="duration.touched && duration.invalid">Please select Loan Duration!</span>                
            </div>         
        </div>   
        <form [formGroup]="educationLoanFormControl" class="form-horizontal formStyle" *ngIf="loanType.value === 'Education'">    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Course Fees</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="courseFees" formControlName="courseFee" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="courseFee.touched && courseFee.invalid">Please Enter Course Fees!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Course Name</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="courseName" formControlName="course" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="course.touched && course.invalid">Please Enter Course Name!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Father Name</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="fatherNam" formControlName="fatherName" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="fatherName.touched && fatherName.invalid">Please Enter Father Name!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Father Occupation</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="fatherOccupationCtl" formControlName="fatherOccupation" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="fatherOccupation.touched && fatherOccupation.invalid">Please Enter Father Occupation!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Father Total Experience</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="fatherTotalExpCtl" formControlName="fatherTotalExperience" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="fatherTotalExperience.touched && fatherTotalExperience.invalid">Please Enter Father Total Years of Experience!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Father Current Experience</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="fatherCurrentExpCtl" formControlName="fatherCurrentExperience" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="fatherCurrentExperience.touched && fatherCurrentExperience.invalid">Please Enter Father Current Years of Experience!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Ration Card Number</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="rationCard" formControlName="rationCardNo" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="rationCardNo.touched && rationCardNo.invalid">Please Enter Ration Card Number!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Annual Income</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="number" id="annualInc" formControlName="annualIncome" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="annualIncome.touched && annualIncome.invalid">Please Enter Annual Income!</span>                
                </div>             
            </div>       
        </form>        
    
        <form [formGroup]="personalLoanFormControl" class="form-horizontal formStyle" *ngIf="loanType.value === 'Personal'">    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Annual Income</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="number" id="annualIncomeCtl" formControlName="annualIncome" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="annualIncome.touched && annualIncome.invalid">Please Enter Annual Income!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Company Name</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="companyNameCtl" formControlName="companyName" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="companyName.touched && companyName.invalid">Please Enter Company Name!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Designation</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="designationCtl" formControlName="designation" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="designation.touched && designation.invalid">Please Enter Designation!</span>                
                </div>             
            </div>       
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Total Experience</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="totalExpSelf" formControlName="totalExperience" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="totalExperience.touched && totalExperience.invalid">Please Enter Total Years of Experience!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Current Experience</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="currentExpSelf" formControlName="currentExperience" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="currentExperience.touched && currentExperience.invalid">Please Enter Current Years of Experience!</span>                
                </div>             
            </div>
        </form>
    
        <form [formGroup]="housingLoanFormControl" class="form-horizontal formStyle" *ngIf="loanType.value === 'Housing'">    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Annual Income</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="number" id="annualIncomehome" formControlName="annualIncome" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="annualIncome.touched && annualIncome.invalid">Please Enter Annual Income!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Company Name</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="hoeLoanCompnayNameC" formControlName="companyName" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="companyName.touched && companyName.invalid">Please Enter Company Name!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Designation</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="designation" formControlName="designation" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="designation.touched && designation.invalid">Please Enter Designation!</span>                
                </div>             
            </div>       
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Total Experience</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="homeLoanTotalExpSelf" formControlName="totalExperience" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="totalExperience.touched && totalExperience.invalid">Please Enter Total Years of Experience!</span>                
                </div>             
            </div>
    
            <div class="row col-xs-12">
                <div class="col-sm-2">
                    <label>Current Experience</label>                 
                </div>
                <div class="col-sm-3">
                    <input type="text" id="homeLoanCurrentExpSelf" formControlName="currentExperience" class="form-control"/>                
                </div>   
                <div class="row col-xs-12">
                    <span class="text-danger" *ngIf="currentExperience.touched && currentExperience.invalid">Please Enter Current Years of Experience!</span>                
                </div>             
            </div>
                 
        </form>
        <div class="row col-sm-1">
            <button type="submit" (click)="onLoanDetailSubmitted()" class="btn btn-primary" [disabled]='loanFormControl.invalid || educationLoanFormControl.invalid
                || personalLoanFormControl.invalid || housingLoanFormControl.invalid'>Submit</button>
        </div>
    </fieldset>    
    </form>
</div>
    

