<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="navbar-brand">Bank Management System</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="navbarCollapsed = !navbarCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link active" href="#">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Edit User Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Apply Loan</a>
              </li>
             
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            </ul>
        </div>             
  </div>   
<div class="col-xs-12">
  <div class="container-fluid body-content scrollable col-xs-6">
      <app-customer-registration></app-customer-registration>
  </div>
  <div class="container-fluid body-content scrollable col-xs-6">
    <app-loan></app-loan>
</div>
</div>
